package {{.LowerModuleName}}

import (
	"context"
	"net/http"

	"github.com/gin-gonic/gin"
)


// {{.TitleTargetName}}Module provides gRPC handlers for the {{.TargetName}} service.
type {{.TitleTargetName}}Module struct {
	// Add dependencies here
}

// Register{{.TitleTargetName}}Routes sets up the HTTP routes for the {{.TargetName}} module.
func (m {{.TitleTargetName}}Module) Register{{.TitleTargetName}}Routes(r *gin.RouterGroup) {
	// TODO add api
	// group := r.Group("/{{.TargetName}}")
	// group.GET("", m.Get{{.TitleTargetName}}Handle)
}
