// Package core provides the main application logic and initialization for the Mastiff application.
package core

import (
	"context"
	"fmt"

	"{{.PackageName}}/pkg/model"

	// nolint
	// MODULE_PACKAGE_START
	// MODULE_PACKAGE_END

	"github.com/gofiber/fiber/v2"
	"github.com/hewen/mastiff-go/config"
	"github.com/hewen/mastiff-go/logger"
	"github.com/hewen/mastiff-go/server"
	"github.com/hewen/mastiff-go/server/httpx"
	"github.com/hewen/mastiff-go/server/queuex"
	"github.com/hewen/mastiff-go/server/rpcx"
	"github.com/hewen/mastiff-go/server/test"
	"google.golang.org/grpc"
	healthpb "google.golang.org/grpc/health/grpc_health_v1"
)

// Core represents the main application core, managing configuration and servers.
type Core struct {
	conf    *config.Config
	servers server.Servers

	// MODULE_FIELDS_START
	// MODULE_FIELDS_END
}

// NewCore initializes a new Core instance with the provided configuration.
func NewCore(conf *config.Config) (*Core, error) {
	if conf == nil {
		return nil, fmt.Errorf("empty config")
	}
	if conf.Logger == nil {
		return nil, fmt.Errorf("empty logger config")
	}

	c := new(Core)
	c.conf = conf

	if err := model.InitConnector(conf); err != nil {
		return nil, err
	}

	if err := logger.InitLogger(*conf.Logger); err != nil {
		return nil, err
	}

	if conf.HTTP != nil {
		builder := &httpx.FiberHandlerBuilder{
			Conf:      conf.HTTP,
			InitRoute: c.initFiberRoute,
		}

		httpServer, err := httpx.NewHTTPServer(builder)
		if err != nil {
			return nil, err
		}

		c.servers.Add(httpServer)
	}

	if conf.RPC != nil {
		builder := &rpcx.GrpcHandlerBuilder{
			Conf: conf.RPC,
			RegisterFunc: func(s *grpc.Server) {
				healthpb.RegisterHealthServer(s, c)
				// TODO add your gRPC service: rpc.RegisterYourServer(s, c)
			},
		}
		grpcServer, err := rpcx.NewRPCServer(builder)
		if err != nil {
			return nil, err
		}
		c.servers.Add(grpcServer)
	}

	if conf.Queue != nil {
		// TODO add handleFn and newMsgFn
		handleFn := func(_ context.Context, _ *test.TestMsg) error {
			return nil
		}
		newMsgFn := func() *test.TestMsg {
			return &test.TestMsg{}
		}
		handler := queuex.NewProtoRedisHandler(model.RStore.GetDb(), conf.Queue.QueueName, handleFn, newMsgFn)
		queueServer, err := queuex.NewQueueServer(*conf.Queue, handler)
		if err != nil {
			return nil, err
		}
		c.servers.Add(queueServer)
	}

	// MODULE_INITS_START
	// MODULE_INITS_END

	return c, nil
}

// initGinRoute initializes the Gin routes for the application.
func (c *Core) initFiberRoute(app *fiber.App) {
	// TODO remove test route, add your routes

	api := app.Group("/api/v1/")
	api.Get("/test", func(c *fiber.Ctx) error {
		return c.JSON(map[string]string{
			"message": "ok",
		})
	})

	// MODULE_ROUTES_START
	// MODULE_ROUTES_END
}

// Start starts all servers managed by the Core instance.
func (c *Core) Start() {
	c.servers.Start()
}

// Stop stops all servers managed by the Core instance.
func (c *Core) Stop() {
	c.servers.Stop()
}
