// Package config provides the configuration structure and initialization for the application.
package config

import (
	"github.com/hewen/mastiff-go/config"
	"github.com/spf13/viper"
)

type CustomConfig struct {
}

// InitConfig initializes the configuration by reading the specified config file.
func InitConfig(confFile string) (*Config, error) {
	conf := new(Config)
	viper.SetConfigFile(confFile)

	err := viper.ReadInConfig()
	if err != nil {
		return nil, err
	}

	err = viper.Unmarshal(conf)
	if err != nil {
		return nil, err
	}

	return conf, nil
}
