package model

import (
	"{{.ModuleName}}/config"
	"github.com/go-redis/redis/v7"
	"github.com/hewen/mastiff-go/server"
	"github.com/hewen/mastiff-go/store"
)

var DbConn *store.DB
var RedisConn *redis.Client

func init() {
	server.AddGracefulStop(func() {
		if DbConn != nil {
			DbConn.Close()
		}

		if RedisConn != nil {
			RedisConn.Close()
		}
	})
}

func InitConnector(c *config.Config) (err error) {
	if c.Redis != nil {
		RedisConn, err = store.InitRedis(*c.Redis)
		if err != nil {
			return err
		}
	}

	if c.Mysql != nil {
		DbConn, err = store.InitMysql(*c.Mysql)
		if err != nil {
			return err
		}
	}

	return nil
}
