package custom

import (
	"testing"

	"github.com/hewen/mastiff-go/storemock"
	"github.com/stretchr/testify/assert"
)

func TestNew(t *testing.T) {
	dbConn, _ := storemock.InitMockMysql("../sql/schema")
	query := New(dbConn)
	assert.NotNil(t, query)
}
