// Package main package serves as the entry point for the Mastiff application, executing the command defined in
package main

import (
	"{{.ModuleName}}/cmd"
)

// main is the entry point of the application.
func main() {
	cmd.Execute()
}
