// Package cmd represents the run command of the application.
package cmd

import (
	"os"

	"{{.PackageName}}/config"
	"{{.PackageName}}/core"

	"github.com/hewen/mastiff-go/logger"
	"github.com/spf13/cobra"
)

// runCmd represents the run command.
var runCmd = &cobra.Command{
	Use:   "run",
	Short: "run",
	Long:  `run`,
	Run: func(_ *cobra.Command, _ []string) {
		l := logger.NewLogger()
		conf, err := config.InitConfig(cfgFile)
		if err != nil {
			l.Errorf("%s", err.Error())
			os.Exit(1)
		}

		c, err := core.NewCore(conf)
		if err != nil {
			l.Errorf("%s", err.Error())
			os.Exit(1)
		}

		c.Start()
	},
}

// init initializes the run command by adding it to the root command.
func init() {
	RootCmd.AddCommand(runCmd)
}
