// Package core provides the core functionality for the application.
package core

import (
    "{{.PackageName}}/internal/core/interfaces/repository"
	"github.com/hewen/mastiff-go/storemock"
)

// InitMockRedis initializes a mock Redis store.
func InitMockRedis() {
	redisConn := storemock.InitMockRedis()
	repository.RStore = repository.NewRedisStore(redisConn)
}

// InitMockMysql initializes a mock MySQL store.
func InitMockMysql(sqlDir string) {
	dbConn, err := storemock.InitMockMysql(sqlDir)
	if err != nil {
		panic(err)
	}
	repository.DStore = repository.NewDbStore(dbConn)
}
